/*
!/app
/app/*
!/app/spdk_nvme_perf
!/app/spdk_nvme_perf_rep
!/app/spdk_nvme_perf_batch
!/app/spdk_nvme_perf_rep_batch
!/include
/include/*
!/include/spdk
!/lib
!/module
!/examples
/examples/*
!/examples/nvmf
!/setup
*.o
*.d
*.map
*.log
*.mk
Makefile
!/app/Makefile
!/app/spdk_nvme_perf/Makefile
!/app/spdk_nvme_perf_rep/Makefile
!/app/spdk_nvme_perf_batch/Makefile
!/app/spdk_nvme_perf_rep_batch/Makefile
!/lib/util/Makefile
*.md
!.gitignore
!configure
!CONFIG
/setup/setup_output
/setup/run_output
